<form action="/books" class="c-form">
    <h2>Cadastre um novo livro</h2>
    <input type="text" name="title" id="title" placeholder="Digite o título do livro..." required />
    <input type="text" name="author" id="author" placeholder="Digite o nome do autor..." required />
    <input type="number" name="page_count" id="page_count" placeholder="Digite o número de páginas do livro..." required />
    <button type="submit" class="btn">Adicionar</button>
</form>