<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js" defer></script>
    <title>Library</title>
</head>

<body>
    <div class="c-container">
        <header>
            <nav>
                <h2>Library</h2>
                <ul>
                    <li>
                        <a href="/books">Livros</a>
                    </li>
                    <li>
                        <a href="/books/add">Adicionar</a>
                    </li>
                    <li>
                        <a href="/logout">Sair</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>{{{body}}}</main>

        <footer>
            <p><strong>Library</strong> &copy; 2022</p>
        </footer>
    </div>
</body>

</html>