:root {
    --primary-color: #2a2a30;
    --secondary-color: #3a3a40;
    --details-color: #00b1ff;
    --margin-h: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: var(--primary-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.1rem;
    color: #efefff;
    text-align: center;
    margin-top: 1rem;
}

.nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input,
button {
    border: 0;
    margin: 0;
    outline: 0;
}

.c-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    background: var(--secondary-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header h2 {
    font-size: 1.2rem;
    font-family: serif;
    color: var(--details-color);
    margin-left: var(--margin-h);
}

header ul {
    display: flex;
}

header li a {
    display: flex;
    padding: .5rem var(--margin-h);
    font-size: .75rem;
    font-family: sans-serif;
    color: #aaaab0;
    transition: .3s ease;
}

header li a:hover {
    background: rgba(255, 255, 255, .1);
    columns: #efefff;
}

/* Main */
main {
    flex: 1;
    padding-bottom: .5em;
}

.c-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem .8rem;
    background: var(--secondary-color);
    width: 400px;
    border-radius: .5rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.c-form h2 {
    font-size: .95rem;
    text-transform: uppercase;
    text-align: center;
    color: #efefff;
    font-family: sans-serif;
}

.c-form input {
    padding: .35rem .5rem;
    font-size: .7rem;
    background: transparent;
    border-radius: 50px;
    color: #efefff;
    border: 2px solid rgba(255, 255, 355, .05);
    outline: none;
    transition: .3s ease;
}

.c-form input::placeholder {
    color: #babac0;
}

.c-form input:focus {
    background: var(--details-color);
    color: #fff;
}

.c-form input:focus::placeholder {
    color: rgba(0, 0, 0, .5);
}

.btn {
    cursor: pointer;
    padding: .3rem;
    background: var(--details-color);
    border-radius: 50px;
    font-size: .6rem;
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    border: 2px solid var(--details-color);
    transition: .3s ease;
}

.btn:hover {
    background: transparent;
    color: var(--details-color);
}

/* books */
.c-books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: .7rem;
    padding: 1rem .8rem;
    width: 700px;
    max-width: calc(100% - (var(--margin-h) * 2));
    border-radius: .5rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.c-books li {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .7rem;
    color: #babac0;
    padding: .8rem;
    border-radius: .3rem;
    box-shadow: rgba(0,0,0, 0.25) 0px 10px 10px -4px;
    background: var(--secondary-color);
    transition: .3s ease;
}

.c-books li:hover {
    transform: scale(1.1);
}

.c-books h2 {
    font-size: .9rem;
    color: var(--details-color);
}

.c-books h3 {
    font-size: .8rem;
    color: #efefff;
}

.c-books .actions {
    display: flex;
    margin-top: .2rem;
    gap: .5rem;
}

.c-books .actions a, 
.c-books .actions input {
    cursor: pointer;
    padding: .2rem .3rem;
    border-radius: .3rem;
    font-size: .6rem;
    font-weight: bold;
    color: var(--clr);
    /* opacity: .7; */
    background: transparent;
    border: 2px solid var(--clr);
}

.no-books {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: .8rem;
    color: #babac0;
}

 /* Show book */

 .c-book {
    padding: 1rem .8rem;
    width: 400px;
    border-radius: .5rem;
    margin: 0 auto;
    margin-top: 2rem;
    background: var(--secondary-color);
}

.c-book h2 {
    font-size: 1rem;
    color: #efefff;
    font-family: serif;
    margin-top: 1rem;
}

.c-book h3 {
    font-size: 1rem;
    color: #efefff;
    margin-top: 1rem;
}

.c-book p {
    font-size: 1rem;
    color: #efefff;
    margin-top: 1rem;
}

.c-book strong {
    display: block;
    width: 100%;
    color: #9a9aa0;
    margin-bottom: .5rem;
}

.c-book a {
    display: inline;
    font-size: .7rem;
    color: #cacad0;
    background: rgba(255, 255, 255, .1);
    border-radius: .3rem;
    padding: .4rem .5rem;
}

.c-book a:hover {
    background: var(--details-color);
    color: var(--secondary-color);
}

/* Footer */

footer {
    color: #aaaab0;
    font-size: .8rem;
    text-align: center;
    padding: .5rem;
}

footer strong {
    color: #cacad0;
}