<div class="c-book">
    
    <a href="/books">Voltar</a>
    
    <h2>
        <strong>Título: </strong>
        {{book.title}}
    </h2>
    <h3>
        <strong>Autor: </strong>
        {{book.author}}
    </h3>
    <p><strong>Número de páginas: </strong>{{book.page_count}} páginas</p>
</div>